################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/src/hgnReader/.vs
/src/hgnReader/Release
/src/hgnReader/x64/Release/ZERO_CHECK
/src/hgnReader/hgnFile.dir/Release
/src/hgnReader/CMakeFiles
/src/hgnReader/ALL_BUILD.vcxproj
/src/hgnReader/ALL_BUILD.vcxproj.filters
/src/hgnReader/ALL_BUILD.vcxproj.user
/src/hgnReader/CMakeCache.txt
/src/hgnReader/cmake_install.cmake
/src/hgnReader/hgnFile.sln
/src/hgnReader/hgnFile.vcxproj
/src/hgnReader/hgnFile.vcxproj.filters
/src/hgnReader/ZERO_CHECK.vcxproj
/src/hgnReader/ZERO_CHECK.vcxproj.filters
/src/hgnReader/hgnReader.vcxproj.filters
/src/hgnReader/hgnReader.sln
/src/hgnReader/hgnReader.vcxproj
/src/.vs
/src/hgnReader/Debug
/src/hgnReader/hgnReader.dir
/src/hgnReader/x64/Debug/ZERO_CHECK
